{% extends 'base.html' %} {% block content %}{% load static %} {% if user.is_authenticated %} {% include "sidebar.html" %}

<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <!-- Navbar -->
    {% include "topnav.html" %}
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Authors table</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">

                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date Out</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date In</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Location</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Reason</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                        <th class="text-secondary opacity-7"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for SignOut in object_list %}
                                    <tr>

                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                {{SignOut.from_date}}
                                            </div>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">{{SignOut.to_date}}</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">{{SignOut.loction}}</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">{{SignOut.reason}}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            {% if status == 0 %}
                                            <span class="badge badge-sm bg-gradient-danger">Online</span> {% else %}
                                            <span class="badge badge-sm bg-gradient-success">Online</span> {% endif %}
                                        </td>

                                    </tr>

                                    {% endfor %}
                                </tbody>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% else %}
<h1>Page not fround</h1>
{% endif %} {% include "scripts.html" %} {% endblock %}